<!-- <app-header></app-header> -->

<h4 class="heading">VENKATESH BUSINESS </h4>
<div class="welcome">
    <!-- <h1>
        Welcome to Our App!</h1>
    <p>Discover powerful features and get started today</p>
    <button class="btn btn-warning">Get Started Now</button> -->
    <h1>
        Welcome to Our Online Fruit Market!</h1>
    <p>fresh fruits get started today</p>
    <p>
        Fruits are essential components of a balanced diet. They provide a rich natural supply of vitamins (like Vitamin
        C and A), minerals (like potassium), and dietary fiber. Eating them regularly lowers the risk of chronic
        illnesses such as heart disease, stroke, and type 2 diabetes while supporting healthy digestion and immune
        function.
    </p>
    <button class="btn btn-warning">Get Started Now</button>
    <br><br>
    <div class="fruit"></div>
</div>

