<div class="welcome">
    <h1 style="position: relative;
    right: -40px; margin:50px 50px 50px 50px">
        check out the offers and discount on club card </h1>
    <p>fresh fruits get started today</p>
    <p>
        Fruit is a natural, nutrient-dense package packed with essential vitamins (like Vitamin C), minerals (such as
        potassium), dietary fiber, and water. It also contains natural sugars (fructose and glucose), as well as
        powerful antioxidants and phytochemicals that help reduce the risk of chronic diseases.
    </p>
</div>