<div class="container">
    <p>First Example of state</p>
    <div>
        <h1>Counter :{{counter}}</h1>
    </div>
    <hr>
    <div>
        <button class="btn btn-success" (click)="increment()">
            Increment
        </button>
    </div>
</div>
<hr>
<div class="logincontainer">
    <p>Second Example of state</p>
    <h1>Login Here</h1>
    <br>
    <div class="row">
        <input type="text" placeholder="Enter UserName" class="form-control">
    </div>
    <br>
    <div class="row">
        <input type="password" placeholder="Enter Password" class="form-control">
    </div>
    <br>
    <div class="row">
        <button class="btn btn-primary" (click)="login()">Login</button>
    </div>
    <br>

    @if(isLoading){
    <app-loader></app-loader>
    }
    <br>
</div>


<!-- Definition of state  -->
<!-- 
 1.The term state refers to the data that your application manages and displays to the user 
 2. it encompasses all the information that change overtime and affect the ui
 3. you can think of it as the current snapshot of your application's data at any given moment
 -->


<!-- TYpes of state  -->
<!-- 
1.Local State
2.Global State
 -->

<!-- Local State:
 1. This is the simplest form of state and  is managed entirely within a single angular component.
 2.its confined to that component's tempalte and logic and is not directly accessible by other components
 -->

<!-- Example -->
<!-- A counter variable count that only increments / decrements inside a counter component -->


<!-- Global state  or Application Wide state-->
<!-- This type of state needs to be shared across multiple,often unrealted,components. -->

<!-- Example -->
<!-- 
1.The current user's authentication status and profile information (eg:isLoggedIN,loggedUser).
2.A global isLoading flag that indicates whether an Api call is in progress,affecting multiple ui elements 
-->
<!-- 
Introduction to state management in angular

1.State Management in angular refers to the management and manipulation of data within an application
2.It helps in storing and updating the application's state in a predictable and scalable way.


Types of state management in angular
There are primarily two types of statemanagement in angular
1.Local state Management
2.Global state management


Local state Management :
1.Local state management involves managing state within a single component.
2.Local state management in angular is usually achieved using component properties and angular two-way data binding.

For Example, in Angular component:

export class ExampleComponent {
count number =0;

incrementCount(){
this.count ++;
}
}



Global state Management :
1.while global state management involves managing state that can be accessed by multiple components.
2.Global state management in angular is often achieved using services or libraries like NgRx or Akita
3.These tools allow for centralized store management that can be accessed and modified by different components

Example using NgRx store in Angular:

stoore.dispatch({type : 'INCREMENT_COUNT'});


Benefits of State Management in Angular

1.statemanagement in angular helps in maintaining a single source of truth for the application's data
2.it improves code organisation and scalability by seperating concerns related to data manipulation.
3.it enables efficent communication between components and ensures consistent data flow throughout the applciation. -->