.container{
    width: 500px;
    height: 300px;
    background: aqua;
    padding: 50px 25px 30px 25px;
    text-align: center;
    margin: 30px 32px 50px 300px;
}
.logincontainer{
    width: 500px;
    height: 400px;
    background: greenyellow;
    padding: 50px 25px 30px 25px;
    text-align: center;
    margin: 30px 32px 50px 300px;
}